*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}
/* Mantine Pagination - ne prelamaj u novi red */
.mantine-Pagination-root { --group-wrap: nowrap; }

/* Ako ti globalni stilovi naduvavaju svg/button, vrati normalnu veličinu */
.mantine-Pagination-root svg { width: 18px; height: 18px; }

/* Uredi dots da ne izgleda kao ogroman krug */
.mantine-Pagination-dots,
.mantine-Pagination-root [data-dots] {
  width: 18px !important;
  height: 18px !important;
  background: transparent !important;
  border-radius: 0 !important;
  line-height: 18px !important;
}
